<div class="col-lg-12 d-flex align-items-stretch">
    <div class="card w-100">
        <% if(showBack){%>
            <div class="p-3">
                <a href="/post/create" class="btn btn-danger">بازگشت به همه دسته بندی ها</a>
            </div>
            <%}%>
                <div class="p-3">
                    <%if(!options){%>
                        <%if(categories && categories.length> 0 ) {%>
                            <ul>
                                <%categories.forEach(category=> {%>
                                    <li>
                                        <a href="/post/create?slug=<%=category.slug%>"
                                            class="w-100 p-3 d-block bg-light text-dark">
                                            <span class="ti ti-<%=category.icon%> nav-small-cap-icon fs-4"></span>
                                            <span>
                                                <%=category.name%>
                                            </span>
                                        </a>
                                    </li>
                                    <%} )%>
                            </ul>
                            <%}%>
                                <%}else{%>
                                    <form action="/post/create" method="post" enctype="multipart/form-data">

                                        <input type="hidden" name="lat" id="lat">
                                        <input type="hidden" name="lng" id="lng">
                                        <input type="hidden" name="category" id="category" value="<%=category%>">
                                        <div class="p-2">
                                            <label> انتخاب ادرس</label>
                                            <div id="map-element" class="w-100" style="height: 300px;"></div>
                                        </div>
                                        <div class="p-2">
                                            <label> تصاویر آکهی</label>
                                            <input type="file" name="images" multiple class="form-control" />
                                        </div>
                                        <div class="p-2">
                                            <label> عنوان آکهی</label>
                                            <input type="text" name="title_post" placeholder="عنوان آکهی"
                                                class="form-control" />
                                        </div>
                                        <div class="p-2">
                                            <label> توضیحات آکهی</label>
                                            <textarea class="form-control" name="description"
                                                placeholder="توضیحات آگهی"></textarea>
                                        </div>


                                        <%options.forEach( option=> {%>
                                            <label>
                                                <%=option.title%>
                                                    <%=option.required ? " * " : "" %>
                                            </label>
                                            <%if(option.type==="array" ){%>
                                                <div class="p-2">
                                                    <select name="<%=option.title%>" class="form-select">
                                                        <%option.enum.forEach(item=> {%>
                                                            <option value="<%=item%>">
                                                                <%=item%>
                                                            </option>


                                                            <%})%>
                                                    </select>
                                                </div>

                                                <%}else{%>
                                                    <div class="p-2">
                                                        <input type="text" name="<%=option.title%>" class="form-control"
                                                            placeholder="<%=option.guide%>" />
                                                    </div>

                                                    <%}%>

                                                        <%})%>
                                                            <button type="submit" class="btn btn-primary">انتشار
                                                                آکهی</button>
                                    </form>
                                    <%}%>
                </div>
    </div>
</div>